@{
    ViewData["Title"] = "Modificar Registro de Doador";
}
<div class="text-center">

    <h1 class="display-4">Modificar Registro de Doador</h1>
</div>

<form>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" placeholder="Digite o nome do doador">
  </div>

  <div class="form-group">
    <label for="sexo">Sexo</label>
    <input type="text" class="form-control" placeholder="Digite o sexo do doador">
  </div>

    <div class="form-group">
    <label for="dtnasc">Data de Nascimento</label>
    <input type="text" class="form-control" placeholder="Digite data de nascimento do doador">
  </div>
  
    <div class="form-group">
    <label for="nomemae">Nome da Mãe</label>
    <input type="text" class="form-control" placeholder="Digite o nome da mãe do doador">
  </div>

    <div class="form-group">
    <label for="nomepai">Nome do Pai</label>
    <input type="text" class="form-control" placeholder="Digite o nome do pai do doador">
  </div>

    <div class="form-group">
    <label for="telefone">Telefone</label>
    <input type="text" class="form-control" placeholder="Digite o telefone do doador">
  </div>
  
    <div class="form-group">
    <label for="profissao">Profissão</label>
    <input type="text" class="form-control" placeholder="Digite a profissão do doador">
  </div>

     <div class="form-group">
    <label for="rg">RG</label>
    <input type="text" class="form-control" placeholder="Digite o núumero do RG do doador">
  </div>

    <div class="form-group">
    <label for="rua">Rua</label>
    <input type="text" class="form-control" placeholder="Digite a rua do endereço">
  </div>

    <div class="form-group">
    <label for="numerocasa">Número</label>
    <input type="text" class="form-control" placeholder="Digite o número da rua do endereço">
  </div>

    <div class="form-group">
    <label for="complemento">Complemento</label>
    <input type="text" class="form-control" placeholder="Digite o complemento do endereço">
  </div>

    <div class="form-group">
    <label for="bairro">Bairro</label>
    <input type="text" class="form-control" placeholder="Digite o bairro do endereço">
  </div>

    <div class="form-group">
    <label for="cidade">Cidade</label>
    <input type="text" class="form-control" placeholder="Digite a cidade do endereço">
  </div>

    <div class="form-group">
    <label for="cep ">CEP</label>
    <input type="text" class="form-control" placeholder="Digite o CEP do endereço">
  </div>


   <button type="submit" class="btn btn-primary">Alterar</button>
   <a class="btn btn-secondary" asp-controller="Doador" asp-action="Index" role="button">Voltar</a>
</form>

